.creds-section {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.whatsappCredentials .request-card  {
    /* background: white; */
    padding: 15px;
    margin-bottom: 15px;
    /* border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
    text-wrap: wrap; /* Allows text to wrap within the flex items */
    max-width: 600px;
    min-width: 375px;
}

.whatsapp-credentials-form {
    display: grid; 
    gap: 15px;
    background: var(--light-glow);
    color: var(--primary-color);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.transparent-box {
    background: var(--transparent);
    padding: 15px;
    border-radius: 8px;
    border: 2px solid var(--primary-color  );
}
.transparent-box small {
    color: var(--grey);
    display: block;
    width: 60%;
    max-width: 300px;
    text-align: center;
    margin: 0 auto;

}
.whatsapp-credentials-form h3 {
    margin-bottom: 10px;
    color: var(--primary-color);
}

.manual-message-sender {
    font-weight: bold;
    background-color: var(--light-glow);
    color: var(--primary-color);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    text-wrap: wrap;
}
.manual-message-sender form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
}
.manual-message-sender form label {
    display: grid;
    margin-bottom: 10px;

}

.creds-message-sender {
    font-weight: bold;
    background: #E3F2FD;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    text-wrap: wrap;
}

form-phone-number {
    display: flex;
    flex-direction: row;
    gap: 10px;
}